  <%= f.error_notification %>
  
  <% if @transaction.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@transaction.errors.count, "error") %> prohibited
      this story from being saved:</h4>
    <ul>
    <% @transaction.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-inputs">
    <%= f.association :account,
                      label_method: :account_name,
                      collection: current_user.accounts.all(order: 'account_name'),
                      selected: @account.id,
                      include_blank: false %>

    <%= f.input :description,
                required: true,
                autofocus: true %>

    <%= f.input :transaction_type,
                collection: get_transaction_types,
                include_blank: false,
                required: true %>

    <%= f.input :amount,
                as: :string,
                input_html: { value: get_transaction_amount },
                required: true %>

    <%#= f.input :date_of,
                start_year: Date.today.year - 1,
                end_year: Date.today.year + 1,
                order: [:month, :day, :year],
                required: true %>

    <%= f.input :date_of,
                as: :string,
                input_html: { value: get_transaction_date } %>

    <%= f.association :category,
                      label_method: :category_name,
                      selected: get_category_id %>

    <%= f.input :notes,
                as: :text %>

    <%= f.input :transaction_cleared %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to "Cancel", :back %>
  </div>
