<h2>My Accounts</h2>

<% if has_accounts? %>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Account Number</th>
      <th>Account Type</th>
      <th>Balance</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.account_name, account_path(account) %></td>
        <td><%= format_account_number(account.account_number) %></td>
        <td><%= find_account_type(account.account_type) %></td>
        <td class="text-right"><%= number_to_currency(account.balance) %></td>
        <td><%= link_to "Edit", edit_account_path(account) %></td>
        <td><%= link_to 'Delete', account_path(account), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

<h4>Looks like you don't have any accounts</h4>
<%= get_create_button %>

<% end %>

<p><%= link_to "Create an account", new_user_account_path(current_user) %></p>
