<h2>Account</h2>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Account Number</th>
      <th>Account Type</th>
      <th>Current Balance</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @account.account_name %></td>
      <td><%= "x" << @account.account_number %></td>
      <td><%= find_account_type(@account.account_type) %></td>
      <td class="text-right"><%= number_to_currency(@account.account_balance) %></td>
      <td><%= link_to "Edit", edit_account_path(@account) %></td>
      <td><%= link_to 'Delete', account_path(@account), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to "Show this account's transactions", account_transactions_path(@account) %></p>
<p><%= link_to "Create an account", new_user_account_path(current_user) %></p>
<p><%= link_to "View all accounts", user_accounts_path(current_user, @account) %></p>
