<div class="clearfix">
    <h2 class="right"><%= @account.account_name %> (<%= format_account_number(@account.account_number) %>)</h2>
    <h2 class="left">Initial Balance: <%= number_to_currency(@account.account_balance) %></h2>
</div>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Description</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date_of %></td>
      <td><%= find_transaction_type(transaction.transaction_type) %></td>
      <td><%= link_to transaction.description, edit_transaction_path(transaction) %></td>
      <td><%= get_category_name(transaction.category_id) %></td>
      <td class="text-right"><%= format_amount(transaction.transaction_type, number_to_currency(transaction.amount)) %></td>
      <td><%= get_transaction_status(transaction.transaction_cleared) %></td>
      <td class="text-right"><%= number_to_currency(get_total(transaction)) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h4>Account</h4>
<p><%= link_to "Create an account", new_user_account_path(current_user) %></p>
<p><%= link_to "Edit this account", edit_account_path(@account) %></p>
<p><%= link_to 'Delete this account', account_path(@account), method: :delete, data: { confirm: 'Are you sure?' } %></p>

<h4>Transactions</h4>
<p><%= link_to "Add a transaction", new_account_transaction_path(@account) %></p>